# Daniil Khodosko

## Research question/interests

What is the most over valued stock? Which US stock are people paying more for then necessary? Which stock is trading above its actual value?

In [18]:
import pandas as pd
data = pd.read_csv("../data/raw/archive/ETFs/aadr.us.txt", sep=",", header=None, names=["Date", "Open", "High", "Low", "Close", "Volume", "OpenInt"])

In [20]:
data

            Date    Open     High      Low    Close  Volume  OpenInt
0           Date    Open     High      Low    Close  Volume  OpenInt
1     2010-07-21  24.333   24.333   23.946   23.946   43321        0
2     2010-07-22  24.644   24.644   24.362   24.487   18031        0
3     2010-07-23  24.759   24.759   24.314   24.507    8897        0
4     2010-07-26  24.624   24.624   24.449   24.595   19443        0
...          ...     ...      ...      ...      ...     ...      ...
1561  2017-11-06   57.61  57.7372  57.2285    57.65   41601        0
1562  2017-11-07   57.29   57.346  57.1446   57.285   50935        0
1563  2017-11-08   57.31    57.55    57.22    57.49   71770        0
1564  2017-11-09   57.23    57.23    56.71  56.9265   53130        0
1565  2017-11-10   56.96    56.96  56.3909     56.4   29233        0

[1566 rows x 7 columns]