# Dmitry Kostyukov

## Research question/interests

How effective is are common indicators such as RSI at predicting future price trends of stocks? Are they more effective with stocks or ETFs? Are they more effective at predicting up-trends or down-trends? Are they more effective with high volume stocks or low volume stocks?

In [1]:
import pandas as pd
data = pd.read_csv("../data/raw/archive/Stocks/amzn.us.txt", sep=",", header=None, names=["Date", "Open", "High", "Low", "Close", "Volume", "OpenInt"])
data

            Date     Open     High      Low    Close    Volume  OpenInt
0           Date     Open     High      Low    Close    Volume  OpenInt
1     1997-05-16     1.97     1.98     1.71     1.73  14700000        0
2     1997-05-19     1.76     1.77     1.62     1.71   6106800        0
3     1997-05-20     1.73     1.75     1.64     1.64   5467200        0
4     1997-05-21     1.64     1.65     1.38     1.43  18853200        0
...          ...      ...      ...      ...      ...       ...      ...
5149  2017-11-06  1109.15  1125.41  1108.77  1120.66   3331738        0
5150  2017-11-07  1124.74   1130.6   1117.5  1123.17   2684443        0
5151  2017-11-08  1122.82  1135.54  1119.11  1132.88   2576010        0
5152  2017-11-09  1125.96  1129.62  1115.77  1129.13   3729978        0
5153  2017-11-10   1126.1  1131.75  1124.06  1125.35   2179181        0

[5154 rows x 7 columns]